body{
    margin:0;
    padding-top: 0;
    text-align: center;
    background-color: #ccccff;
}

.top-section
{
    background-color: #b3d3ee;
    position: relative;
}

.top
{
    padding-top: 50px;
}

.mountain
{
    height: 500px;
    position: relative;
    bottom: 100px;
}

.bottom-cloud
{
    height: 80px;
    left: 200px;
    position: absolute;
}
.top-cloud
{
    height: 80px;
    position: absolute;
    right: 300px;
    top: 10px;
}

h1
{
    color: #128acf;
    font-family: 'Damion', cursive;
    font-size: 5rem;
    line-height: 2;
    margin-bottom: 0;
}

h2
{
    /* color: #66BFBF; */
    color: #128acf;;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

h3,a
{
    color:#11999E;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.skill-row
{
    margin: 100px auto;
    line-height: 2;
    text-align: left;
    width: 50%;
}

.dev-image
{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.web-image
{
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* .no-float
{
    clear: right; For not applying float
} */

.profile-pic
{
    height: 6.25rem;
    margin-top: 30px;
}

hr
{
    width: 5%;
    border-style: dotted;
    border-bottom: 0;
    border-width: 10px;
    color: brown;
    margin: 6.25rem auto;
}

p
{
    font-family: 'Signika Negative', sans-serif;
    font-size: larger;
}

.btn {
    position: relative;
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    padding: auto;
    font-family: Arial;
    color: #ffe3ff;
    font-size: 22px;
    background: #d93434;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    top: 40px;
  }
  
  .btn:hover {
    background: #8f3cfc;
    text-decoration: none;
  }


.bottom-section
{
    background-color: #7e7462;
    margin-top: 6.25rem;
    padding-top: 50px;
    padding-bottom: 30px;
}

.mail-img
{
    height: 50px;
    margin-bottom: -5px;
}

.footer-link
{
    
    color: purple;
    font-family: 'Kanit', sans-serif;
    line-height: 2;
    padding-left: 10px;
    padding-right:10px;
    font-size: larger;
    text-decoration: none;
}

.linkedin
{
    height: 50px;
    margin-right: 0.625rem;
    position: relative;
    padding-bottom: 20px;
    top: 10px;
}

.twitter
{
    border-radius: 100%;
    height: 50px;
    margin-right: 0.625rem;
    position: relative;
    padding-bottom: 20px;
    top: 10px;
}

.instagram
{
    height: 50px;
    margin-right: 0.625rem;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    top: 10px;
}

.footer-link {
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: Arial;
    color: #132a44;
    font-size: 20px;
    background: #a1e1e4;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-left: 15%;
    /* margin-right:100px; */
    width: 159px;
  }


  @media (max-width:860px)
  {
    .footer-link
    {
        margin-right: 2rem;
       margin-left: 2rem;
    }
  }

  @media (max-width:662px)
  {
    #instagram-bg
    {
        margin-left: 10rem;
    }

    #twitter-bg
    {
        margin-left: 5rem;
    }
  }


 
  #linked-in-bg:hover {
    color: #eaf0f7;
    background: #0A66C2;
    text-decoration: none;
  }

  #twitter-bg:hover {
    color: #eaf0f7;
    background: #1DA1F2;
    text-decoration: none;
  }

  #instagram-bg:hover {
    color: #eaf0f7;
    background: #bc2a8d;
    text-decoration: none;
  }


.copyright
{
    color: #EAF6F6;
    font-size: 0.75rem;
    margin-top: 2rem;
}
